.floatBtnGroup {
    position: relative;

    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100;

    width: 58px;
    flex: 0 0 auto;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;


    background-color: var(--bg-color);



    border-right: 1px solid var(--border-color);

    font-size: 12px;
    color: var(--text-color);

    z-index: 2000;
    /* padding-bottom: 10%; */
}

.floatBtnGroup * {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

}

#indicator {
    position: absolute;
    top: calc(50% - 180px - 25px);
    right: 0;
    width: 3px;
    height: 40px;
    background-color: var(--kv-orange-color);
    border-radius: 2px 0 0 2px;
    transition: top 0.3s cubic-bezier(0.28, -0.55, 0.27, 1.55);
}



.btnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width: 46px;
    height: 46px;
    flex: 0 0 auto;

    border-radius: 8px;
    position: relative;

    box-sizing: border-box;

    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.homePage img {
    width: 32px;
    height: 32px;
}

.btnBox:hover {
    background-color: var(--mask-color-light);
    /* box-shadow: inset 0 0px 5px 0 #f56c4a55; */
}

.btnBox:hover .svg {
    filter: grayscale(0);
}

.btnBox:hover::after {
    content: attr(data-title);
    position: absolute;

    right: -10px;

    transform: translateX(100%);

    z-index: 2000;
    background-color: var(--panel);
    color: var(--text-color-1);
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px 0 var(--text-color-5);

    font-size: 16px;
    box-sizing: border-box;
    width: max-content;
}

.btnBox span {
    display: none;
}

.btnBox:hover span {
    display: block;
}

.avatar {

    display: flex;

    height: 28px;
    width: 28px;

    overflow: hidden;
    box-sizing: border-box;

    outline: var(--text-color-0) 1px solid;
    /* border: 0.5px solid #fff; */
    border-radius: 16px;



    justify-content: center;
    align-items: center;

}

.avatar:has(.svg) {
    border-radius: 0;
    outline: none;
    border: none;
}

.avatar .svg {
    width: 24px;
    height: 24px;
    /* filter: grayscale(0.8); */
}

.activeSvg .svg {
    /* filter: grayscale(0) ; */
}

#exitBtn {
    position: absolute;
    bottom: 5px;
    margin-top: 0;
}